<template>
  <div>
    <div v-if="game.over" id="game_over">
      <div>
        Игра завершена. Лучший дротер - <span>{{ game.winner }}</span>
      </div>
      <a href="/">Новая игра</a>
    </div>
    <table v-else id="control">
      <tr>
        <td>
          <input type="text" v-model="points" @keyup.enter="makeTurn" ref="input" />
          <div id="hint">Enter</div>
        </td>
        <td id="make_turn">
          <div @click="makeTurn">Ок</div>
        </td>
      </tr>
    </table>

    <div id="message">{{ message }}</div>

    <table id="score_table">
      <thead>
        <tr>
          <th
            :style="{ width: 100 / players.length + '%' }"
            :class="{active: index == player}"
            v-for="(playerName, index) in players"
          >{{ playerName }}: {{ rests[index] }}</th>
        </tr>
      </thead>
      <tbody>
        <template v-for="round in reverseLog">
          <tr>
            <td v-for="turn in round">{{ turn }}</td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</template>

<script>
import { reverse, clone } from 'lodash'
import Game from 'src/classes/Game'

export default {
  props: ['players'],
  data: function () {
    return {
      points: '',
      game: null,
      player: 0,
      log: [],
      rests: [],
      message: ''
    }
  },
  methods: {
    makeTurn () {
      this.game.hit(this.points)
      this.player = this.game.player

      if (this.game.error) {
        this.message = this.game.error
      } else {
        this.message = ''
      }

      this.log = this.game.log
      this.rests = this.game.rests
      this.points = ''
      this.$refs.input.focus()
    }
  },
  computed: {
    reverseLog () {
      return reverse(clone(this.log))
    }
  },
  created () {
    const game = new Game(this.players, 101)
    this.game = game
    this.rests = game.rests
    this.log = game.log
  },
  mounted () {
    this.$refs.input.focus()
  }
}
</script>

<style scoped>
  #message {
    text-align: center;
    color: red;
  }

  #game_over {
    text-align: center;
    margin: 30px 0;
  }

  #game_over span {
    color: green;
    font-weight: bold;
  }

  #game_over div {
    margin-bottom: 10px;
  }

  #control {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    position: relative;
    left: -20px;
  }

  #control td {
    vertical-align: top;
  }

  #hint {
    font-size: 11px;
    color: #ccc;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  #current_player {
    width: 220px;
    text-align: right;
  }

  #make_turn div {
    border: 1px solid #999;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  #make_turn div:hover {
    border-color: #000;
  }

  input {
    width: 60px;
    height: 30px;
    font-size: 20px;
    text-align: center;
  }

  #score_table {
    width: 100%;
    margin-top: 10px;
  }

  #score_table th {
    height: 40px;
    font-size: 15px;
    font-weight: normal;
  }

  #score_table th.active {
    color: blue;
  }

  #score_table td {
    height: 40px;
    text-align: center;
    border-top: 1px solid #ccc;
  }
</style>
