<template>
  <div id="settings" @keyup.ctrl.enter="startGame">
    <table>
      <tr>
        <th></th>
        <th>
          <input type="text" maxlength="12" autofocus @keyup.enter="addPlayer" ref="input" />
        </th>
        <th class="buttons">
          <div id="add_player" @click="addPlayer">+</div>
        </th>
      </tr>
      <tr>
        <td class="index"></td>
        <td>
          <div id="start_game" @click="startGame">Начать игру</div>
          <div id="hint">Нажмите Ctrl + Enter для начала игры</div>
        </td>
        <td></td>
      </tr>
      <tr v-for="(player, index) in players">
        <td class="index">{{ index + 1 }}.</td>
        <td>{{ player }}</td>
        <td class="remove_player">x</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      players: []
    }
  },
  methods: {
    addPlayer () {
      const input = this.$refs.input

      if (input.value) {
        this.players.push(input.value)
        input.value = ''
      }
    },
    startGame () {
      this.$emit('startGame', this.players)
    }
  }
}
</script>

<style scoped>
  #settings {
    margin: 50px auto 0;
    text-align: center;
    font-size: 20px;
  }

  input {
    width: 250px;
    height: 30px;
    text-align: center;
    font-size: 20px;
  }

  #hint {
    font-size: 11px;
    color: #ccc;
    font-weight: normal;
    margin-bottom: 10px;
  }

  table {
    width: 30%;
    margin: 30px auto;
  }

  table th {
    height: 50px;
    vertical-align: top;
  }

  table td {
    height: 40px;
  }

  #add_player {
    width: 28px;
    font-weight: normal;
    padding: 5px 0 5px 10px;
    border: 1px solid #999;
    cursor: pointer;
  }

  #add_player:hover {
    border-color: #000;
  }

  .index {
    width: 50px;
    font-size: 15px;
    color: #ccc;
  }

  .remove_player {
    cursor: pointer;
  }

  .remove_player:hover {
    font-weight: bold;
  }

  .buttons {
    text-align: left;
  }

  #start_game {
    width: 250px;
    border: 1px solid #999;
    margin: 10px auto;
    padding: 8px 0;
    cursor: pointer;
  }

  #start_game:hover {
    border-color: #000;
  }
</style>
