<template>
  <div id="app">
    <component :is="page" @startGame="startGame" :players="players"></component>
  </div>
</template>

<script>
import Game from './components/Game.vue'
import Settings from './components/Settings.vue'

export default {
  name: 'app',
  data: function () {
    return {
      page: 'appSettings',
      players: []
    }
  },
  methods: {
    startGame (players) {
      this.players = players
      this.page = 'appGame'
    }
  },
  components: {
    appGame: Game,
    appSettings: Settings
  }
}
</script>

<style>
  * {
    font-family: Verdana;
  }
</style>
